html, body {
    border:0; 
    margin:0; 
    padding:0; 
    background:#F2F5FE; 
    font:"verdana", sans-serif; 
    color:#192666; 
}

.cointainer {
    margin: 0;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
}

.title h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 0;
    padding:0; 
    background:#233C9B;
    min-height:75px; 
}

nav {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    background:#192666; 
    margin:0;
    padding:0; 
    min-height:0px; 
}

.article {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;   
    padding: 0; 
}


aside {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;  
    background:#CEDBF9
}

footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;  
    color:#6685CC;
    min-height:25px; 
}

nav ul {
    margin:0 10px; 
    padding:0; 
    list-style:none;
}

nav ul li {
    margin:0 5px 0 0; 
    padding:0; 
    float:left;
}

nav ul li a {
    display:block; 
    position:relative; 
    padding:7px 15px; 
    border:0; 
    color:#B5C4E3; 
    font-weight:bold; 
    text-decoration:none; 
    cursor:pointer;
}

a {
    color:#192666;
}

a:hover {
    color:#4F6AD7;
}

p {
    border:0; 
    margin:15px; 
    padding:0;
}

div {
    border:0;
    margin:0;
    padding:0;
}

h1, h2, h3 {
    border:0; 
    margin:15px 0 10px 0; 
    padding:0; 
    font-weight:bold;
}

ul {
    display:block; 
    border:0; 
    margin:15px 0 15px 40px; 
    padding:0;
}

li {
    display:list-item; 
    border:0; 
    margin:0; 
    padding:0; 
    height:1px;
}
    

.article h2 {
    margin:0 -20px;
    padding:10px;
    background:#DEE5FD; 
    color:#192666;
}


.article p {
    text-align:justify;
}

#page .info {
    margin:10px 0; 
    padding-bottom:8px; 
    border-bottom:1px solid #DEE5FD;
    color:#6685CC;
}

#page .info span.date, #page .info text, #page .info span.user, #page .info span.comments {
    padding-left:15px;
}

#page .info span.user,  #page .info span.comments {
    margin-left:8px;
}

aside #right-aside {
    padding:20px 10px; 
}

#right-aside h3 {
    padding:13px 15px 14px 15px; 
    margin:0 -10px 15px -10px; 
    background:#A0B9F3;
    color:#192666;
}

ul#about-me {
    margin-bottom:15px; 
    line-height:130%;
    list-style:none;
}

ul#about-me li {
    margin:0;
    float:left; 
    width:54px; 
    height:58px; 
    margin-right:7px;
}

ul#about-me li a {
    display:block; 
    padding:3px 0 3px 22px; 
    text-decoration:none;
}

ul#category {
    margin:15px 0; 
    padding:0; 
    list-style:none;
}

ul#category li {
    margin:0;
    padding:0; 
    border-bottom:1px solid #E0E8FA;
}

ul#category li a {
    display:block; 
    padding:3px 0 3px 22px; 
    text-decoration:none;
}

ul#category li#category-active a {
    background:#E0E8FA; 
    font-weight:bold;
}

ul#links {
    margin:15px 0; 
    padding:0; 
    list-style:none;
}

ul#links li {
    margin:0; 
    padding:0; 
    border-bottom:1px solid #E0E8FA;
}

ul#links li a {
    display:block; 
    padding:3px 0 3px 22px; 
    text-decoration:none;
}

ul#links li a:hover {
    background-color:#D3DFF8; 
    color:#192666;
}

