body {
    color: rgb(255, 255, 255);
    background-color: rgb(126, 111, 156);
}
a:link {
    color:rgb(10, 24, 24);
}
a:visited { 
    text-decoration: none; color: #ffcc33; 
} 
a:hover { 
    text-decoration: underline; color:#39d1c4; 
} 
a:active { 
    text-decoration: none; color:#ffffff; 
} 
