/* -- DEFINICION GENERAL -- */

* {
  user-select: none;
}

body, html {
  height: 100vh;
  padding: 2%;
  overflow: hidden;
  background-image: linear-gradient(#4c250941, #5e4c246a), url("./Media/Background.jpg");
  background-size:cover; /* Ajusta la imagen al tamaño del cuerpo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-clip: content-box;
}

div .Faction > * {
  background-image:linear-gradient(#4c250941, #5e4c246a), url("./Media/DivBackground.jpg");
  background-size: cover; /* Ajusta la imagen al tamaño del cuerpo */
  background-position: center; /* Centra la imagen */
  background-clip: padding-box;
}

img {
  width: 100%;
  height: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* -- DEFINICION DEL SLIDER -- */

#slider {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slide {
  height: 85vh;
  display: none;
  position: absolute;
  margin: 0 auto;
}

.slide.active {
  
  display: grid;
}

/* -- DEFINICION DE LOS GRID A USAR -- */

.Faction > * {
  padding: 10px;
  border: 5px outset #b09064;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.Faction {
  display: grid;
  grid-template-columns: 1.5fr 2.49fr 1fr 0fr;
  grid-template-rows: repeat(9,1fr);
  gap: 1% 1%;
  grid-auto-flow: row;
  grid-template-areas:
    " NombreFaccion NombreFaccion ImagenFaccion ImagenFaccion"
    " DescripcionFaccion DescripcionFaccion ImagenFaccion ImagenFaccion "
    " DescripcionFaccion DescripcionFaccion ImagenFaccion ImagenFaccion "
    " NombreLider TituloLider ImagenLider ImagenLider "
    " DescripcionLider DescripcionLider ImagenLider ImagenLider "
    " DescripcionLider DescripcionLider ImagenLider ImagenLider "
    " NombreUnidad TipoUnidad ImagenUnidad ImagenUnidad "
    " DescripcionUnidad DescripcionUnidad ImagenUnidad ImagenUnidad "
    " DescripcionUnidad DescripcionUnidad ImagenUnidad ImagenUnidad "
    " DescripcionUnidad DescripcionUnidad ImagenUnidad ImagenUnidad ";
}

.NombreFaccion  { 
  grid-area: NombreFaccion ; 
}

.DescripcionFaccion { 
  grid-area: DescripcionFaccion; 
}

.ImagenFaccion { 
  grid-area: ImagenFaccion; 
}

.NombreLider { 
  grid-area: NombreLider; 
}

.TituloLider { 
  grid-area: TituloLider; 
}

.DescripcionLider { 
  grid-area: DescripcionLider; 
}

.ImagenLider { 
  grid-area: ImagenLider; 
}

.NombreUnidad { 
  grid-area: NombreUnidad; 
}

.TipoUnidad { 
  grid-area: TipoUnidad; 
}

.DescripcionUnidad { 
  grid-area: DescripcionUnidad; 
}

.ImagenUnidad { 
  grid-area: ImagenUnidad; 
}