html, body {
	margin: 0;
	padding: 0;
}

.cointainer {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.grid-container{
    margin: 0;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    color:white;
    background-color: rgb(156, 33, 33);
    min-height:75px; 
}
.title-header {
    margin-left: 5px;
    padding:0.25%;
}

h1, h2 { 
    margin: inherit;
    padding:0.5%;
}

p {
    padding:0.5%;
}

.aside {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;   
    border-right: 1px solid  rgb(92, 92, 92);
    border-left: 1px solid  rgb(92, 92, 92);
    padding: 10%; 
}


.article {
    padding: 5%; 
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;   
    border-right: 1px solid  rgb(92, 92, 92);
}

.footer {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;  

    color: white;
    border-top: 5px solid  rgb(92, 92, 92);
    background-color: rgb(49, 49, 49);
    text-align: center;
    min-height:75px; 
}
  