.cointainer {
    width: 100%;
    margin: 0%;
    padding: 0.1%;
}

.header{
    color:white;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding-top: 0.2%;
    padding-left: 0.3%;
    padding-bottom: 0.8%;
    background-color: rgb(156, 33, 33);
}

h1, h2 { 
    margin: inherit;
    padding:0.5%;
}

p {
    padding:0.5%;
}


.main {
    clear:both;
    display: table;
    width: 100%;
}

.aside {
    float: left;    
    width: 10%;
    height: 100%;   
    padding-bottom: 13%;
    padding-top: 3%;
    padding-left: 0.3%;
    padding-right: 0.3%;
    border-right: 2px solid rgb(104, 104, 104);
    border-left: 2px solid rgb(104, 104, 104);
}

.article {
    float: right;    
    width: 88%;
    height: 100%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.footer {
    float: none;
    clear: both;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0.7%;
    border-top: solid 1px grey;
    background-color: rgb(49, 49, 49);
    text-align: center;
}
  